table.sorting tr:not(.home){
    cursor: pointer;
}

.ui-state-highlight {
    border: 1px dashed #ccc;
}

div.new-cat{ margin-top: 30px;
    position: relative;
}

span.ajax-text {
    display: none;
}

table.sorting.categories td {
    padding: 30px !important;
}

.ajaxdivtd {
    position: absolute;
}
/*.table{ /*border: 1px solid !important;*/
.table thead tr th{ text-align: center;}

.table-container {
    /*display: block;
    width: 100%;
    margin: auto;
    justify-items: center;*/
}
.pagination a {
       
    font-size: 22px;
    color: lightgreen;
    padding: 8px 16px;
    margin: 0 4px;
}

span.loader {
    display: none;
}
span.ajaxmsg {
    background: green;
    color: white;
    padding: 10px;
    display: none;
    position: absolute;
}

.ajaxcart {
    position: relative;
    right: -190px !important;
    top: 5px;

}
.div navbar-collapse.collapse {
    padding: 30px !important;
}
.div container {
    padding: 40px !important;
}
.ib {
    display: inline-block !important;
}