@model IEnumerable<CmsShoppingCart.Areas.Admin.Models.ViewModels.Shop.CategoryVM>


    <table class="table">
        <th>
            Categories
        </th>
            @foreach (var item in Model)
            {
                <th>

                </th>
                <th>

                </th>
                <th>

                </th>
                <th>
                    <a href="/shop/category/@item.Slug.ToLower()">@item.Name</a>
                </th>
            }
           
    </table>
