@model IEnumerable<CmsShoppingCart.Areas.Admin.Models.ViewModels.Shop.CategoryVM>

@*<div class="table-container">*@
    <table class="table"style="text-align: center !important; margin: auto !important;">
        <thead>
            <tr>
                <th>
                    Categories
                </th>
                @foreach (var item in Model)
                {
                    <th>
                        <a href="/shop/category/@item.Slug.ToLower()">@item.Name</a>
                    </th>
                }
            </tr>
        </thead>
    </table>
@*</div>*@ 


